{% extends 'base.html.twig' %}
{% block body %}
<div class="container"><br>
    <h1> Facture :</h1><br>
    <table  class="table table-hover">
    <thead>
        <tr>
            <th scope="row">Nom</th>
            <th scope="row">Prénom</th>
            <th scope="row">Date de Naissance</th>
            <th scope="row">Lieu de Naissance</th>
            <th scope="row">CIN</th>
            <th scope="row">Numéro GSM</th>
            <th scope="row">Numéro GSM (parent)</th>
            <th scope="row">adresse</th>
            <th scope="row">Niveau</th>
        </tr>
    </thead>    
    <tbody>
        <tr>
            <td>{{ etd.nomEtudiant }}</td>
            <td>{{ etd.prenomEtudiant }}</td>
            <td>{{ etd.dateNaissanceEtudiant | date('d/m/Y') }}</td>
            <td>{{ etd.lieuNaissanceEtudiant }}</td>
            <td>{{ etd.cinEtudiant }}</td>
            <td>{{ etd.numTeleEtudiant }}</td>
            <td>{{ etd.numTeleParent }}</td>
            <td>{{ etd.adresseEtudiant }}</td>
            <td>{{ etd.niveauEtudiant }}</td>

        </tr>
    </tbody>      
    </table> 
    
        <br><br><br><br><br><br><br>
        <p> Signature             ..............</p>   
</div>
{% endblock %}