{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('DataTables/datatables.min.css') }}">
{% endblock %}
{% block body %}
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('admin') }}">Gestion Du Centre</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('prof_create') }}">Ajouter un professeur</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('personel_create') }}">Ajouter du personnel</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_personel') }}">La liste du personnel</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Retour</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_etd') }}">La liste des étudiants</a>
                </li>
            </ul>
            {% if app %}
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">
                            Déconnexion
                        </a>
                    </li>    
            </ul>
            {% endif %}
        </div>
    </nav>
<div class="container" style="margin-right: 25%;"><br>
    <h1> La Liste des Professeurs :</h1><br>
    <table  id="tab" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>CIN</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Carte Bank</th>
                <th>Salaire</th>
                <th>Matiére</th>
                <th>Edit/Détail/X</th> 
            </tr>
        </thead>    
        <tbody>
            {% for pp in prof %}
            <tr>
                <td>{{ pp.nomProf }}</td>
                <td>{{ pp.prenomProf }}</td>
                <td>{{ pp.emailProf }}</td>
                <td>{{ pp.cinProf }}</td>
                <td>{{ pp.numTeleProf }}</td>
                <td>{{ pp.adresseProf }}</td>
                <td>{{ pp.numCarteBankProf }}</td>
                <td>{{ pp.salaireProf }}</td>
                <td>{{ pp.profMatiere }}</td>
                <td>
                    <a href="{{ path('prof_edit', {'id': pp.id}) }}" class="btn btn-dark">edit</a>
                    <a href="{{ path('prof_detail', {'id': pp.id}) }}" class="btn btn-light">détail</a>
                    <a href="#" class="btn btn-danger delete-proff" data-id="{{ pp.id }}">Delete</a>
                </td>

            </tr>
        {% endfor %}
            <tfoot>
                <tr>
                    <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>CIN</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Carte Bank</th>
                        <th>Salaire</th>
                        <th>Matiére</th>
                        <th>Edit/Détail/X</th>
                </tr>
            </tfoot>
        </tbody>    
    </table>    

</div>
{% endblock %}
{% block javascripts %}
<script src="/delete/main.js"></script>
{% endblock %}